* {
  margin: 0;
  padding: 0;
}

.App {
  width: clamp(0px, 100vw, 600px);
  height: 100vh;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nav_Buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  border-top: 2px solid rgb(193, 193, 193);
  padding: 10px 0px;

  height: 150px;
  width: inherit;
  background-color: rgb(220, 230, 239);
}

.Nav_Buttons .Save_Pokemon_Button,
.Nav_Buttons .Get_Pokemon_Button {
  height: inherit;
  font-size: 1.4rem;
  width: clamp(200px, 50vw, 300px);

  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(24, 50, 122);

  white-space: nowrap;
}